@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .App {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .App__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .App__text {
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: 36px;
    line-height: 42px;
    font-family: "Exo 2", sans-serif;
    text-shadow: 0px 1px 1px #000000;
  }

  .Block__unit {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 320px;
    height: 480px;
    background-color: #f2f2f2;
    border-radius: 11px;
    clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
    overflow: hidden;
  }

  .Block__unit img {
    z-index: -1;
    position: absolute;
    left: -20px;
    bottom: -90px;
  }

  body {
    min-height: 100vh;
    background: url("Pattern.png") center center repeat;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .Block__container {
    cursor: pointer;
    margin: 14px;
    position: relative;
    width: 328px;
    height: 488px;
    background-color: #2ea8e6;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
  }

  .Block__main p {
    color: white;
    text-align: center;
  }

  .Block__main span {
    color: #2ea8e6;
    text-decoration: underline dotted;
    cursor: pointer;
  }

  .Block__mainText {
    display: flex;
    padding-bottom: 0;
    flex-direction: column;
    padding-left: 40px;
  }

  .Block__unit h4 {
    font-weight: 100;
    font-size: 14px;
    color: #666666;
    padding-top: 10px;
  }

  .Block__unit h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    padding-top: 20px;
  }

  .Block__unit h1 {
    font-size: 56px;
    padding-top: 10px;
  }

  .Block__unit h2 {
    font-size: 28px;
    padding-top: 10px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .Block__circle {
    background-color: #2ea8e6;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  .Block__circle span {
    color: white;
    font-size: 42px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    min-width: 100%;
  }

  button:disabled {
    display: none;
  }

  .Block__container_check {
    margin: 14px;
    position: relative;
    width: 328px;
    height: 488px;
    background-color: #e52e7a;
    border-radius: 14px;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
  }

  .Block__circle_check {
    background-color: #e52e7a;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
  }

  .Block__circle_check span {
    font-size: 42px;
    color: white !important;
    min-width: 100%;
  }

  .Block__main_check {
    color: black;
    cursor: pointer;
  }

  .Block__main_check p {
    color: white;
    text-align: center;
  }

  .Block__main_check span {
    color: #2ea8e6;
    cursor: pointer;
  }

  .disabl {
    opacity: 0.3;
  }

  .disabl_main {
    background-color: #666;
  }

  .Block__circle_disable {
    background-color: #666;
    font-size: 17px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .Block__circle_disable span {
    font-size: 42px;
    min-width: 100%;
  }

  .Block__main_disable p {
    color: yellow;
    text-align: center;
  }
  p {
    font-size: 13px;
  }

  .hov_mainText {
    color: #e52e7a !important;
  }
}

.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App__text {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 36px;
  line-height: 42px;
  font-family: "Exo 2", sans-serif;
  text-shadow: 0px 1px 1px #000000;
}

.Block__unit {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 320px;
  height: 480px;
  background-color: #f2f2f2;
  border-radius: 11px;
  clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
  overflow: hidden;
}

.Block__unit img {
  z-index: -1;
  position: absolute;
  left: -20px;
  bottom: -90px;
}

body {
  min-height: 100vh;
  background: url("Pattern.png") center center repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Block__container {
  cursor: pointer;
  margin: 14px;
  position: relative;
  width: 328px;
  height: 488px;
  background-color: #2ea8e6;
  border-radius: 14px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.Block__main p {
  color: white;
  text-align: center;
}

.Block__main span {
  color: #2ea8e6;
  text-decoration: underline dotted;
  cursor: pointer;
}

.Block__mainText {
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  padding-left: 40px;
}

.Block__unit h4 {
  font-weight: 100;
  font-size: 14px;
  color: #666666;
  padding-top: 10px;
}

.Block__unit h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
  padding-top: 20px;
}

.Block__unit h1 {
  font-size: 56px;
  padding-top: 10px;
}

.Block__unit h2 {
  font-size: 28px;
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.Block__circle {
  background-color: #2ea8e6;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.Block__circle span {
  color: white;
  font-size: 42px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  min-width: 100%;
}

button:disabled {
  display: none;
}

.Block__container_check {
  margin: 14px;
  position: relative;
  width: 328px;
  height: 488px;
  background-color: #e52e7a;
  border-radius: 14px;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}

.Block__circle_check {
  background-color: #e52e7a;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 17px;
}

.Block__circle_check span {
  font-size: 42px;
  color: white !important;
  min-width: 100%;
}

.Block__main_check {
  color: black;
  cursor: pointer;
}

.Block__main_check p {
  color: white;
  text-align: center;
}

.Block__main_check span {
  color: #2ea8e6;
  cursor: pointer;
}

.disabl {
  opacity: 0.3;
}

.disabl_main {
  background-color: #666;
}

.Block__circle_disable {
  background-color: #666;
  font-size: 17px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.Block__circle_disable span {
  font-size: 42px;
  min-width: 100%;
}

.Block__main_disable p {
  color: yellow;
  text-align: center;
}
p {
  font-size: 13px;
}

.hov_mainText {
  color: #e52e7a !important;
}
